*.pdf
*.aux
*.log
*.out
*.synctex.gz
.DS_Store
.Rproj.user
*.DS_Store
*~
tmp*
temp*
*.so
*.o
*.a
*.dll
.Rhistory
.RData
TAGS
test.R
paper/auto/
revdep/
CRAN_notes.md
announcement.md
*.Rcheck
*.tar.gz
.Rprofile
