export(day, yday, mday, wday)
S3method(yday, default)
S3method(mday, default)
S3method(wday, default)
S3method(wday, numeric)
S3method("wday<-")
export(hour, hour<-)
S3method(hour, default)
export(minute, minute<-)
S3method(minute, default)
export(dst)
S3method(dst, default)
S3method(update, Date)
S3method(update, POSIXct)
S3method(update, POSIXlt)
export(month, month<-)
S3method(month, default)
export(second, second<-)
S3method(second, default)
export(tz, tz<-)
S3method(tz, default)
S3method(tz, zoo)
S3method(tz, timeSeries)
S3method(tz, irts)
export(week, week<-)
export(year, year<-)
S3method(year, default)
S3method(as.POSIXlt, fts)
S3method(as.POSIXlt, its)
S3method(as.POSIXlt, timeSeries)
S3method(as.POSIXlt, irts)
S3method(as.POSIXlt, xts)
S3method(as.POSIXlt, zoo)
S3method(as.POSIXlt, tis)
S3method(as.POSIXct, fts)
S3method(as.POSIXct, its)
S3method(as.POSIXct, timeSeries)
S3method(as.POSIXct, irts)
S3method(as.POSIXct, xts)
S3method(as.POSIXct, zoo)
S3method(as.POSIXct, tis)
export(reclass_date)
S3method(reclass_date, POSIXlt)
S3method(reclass_date, POSIXct)
S3method(reclass_date, chron)
S3method(reclass_date, timeDate)
S3method(reclass_date, its)
S3method(reclass_date, ti)
S3method(reclass_date, Date)
export(new_duration)
export(new_difftime)
export(as.duration)
S3method(as.duration, default)
S3method(as.duration, period)
S3method(as.duration, interval)
S3method(as.duration, difftime)
export(eseconds, eminutes, ehours, edays, eweeks, eyears, dseconds, dminutes, dhours, ddays, dweeks, dyears)
export(is.instant)
export(is.timespan)
export(is.POSIXt, is.POSIXlt, is.POSIXct)
export(is.duration)
export(is.difftime)
export(is.Date)
export(is.period)
export(is.interval)
export(new_interval)
export(as.interval)
export(start<-)
S3method(start, interval)
export(end<-)
S3method(end, interval)
export(make_difftime)
export(ymd, myd, dym, ydm, mdy, dmy)
export(ymd_hms)
export(ms)
export(hm)
export(hms)
export(parse_date)
export(new_period)
export(seconds, minutes, hours, days, weeks, months, years, y, m, w, d)
export(as.period)
S3method(as.period, default)
S3method(as.period, difftime)
S3method(as.period, interval)
S3method(as.period, duration)
export(pretty.dates)
export(leap_year)
export(now)
export(today)
export(am, pm)
export(with_tz)
export(force_tz)
export(origin)
export(decimal_date)
S3method(decimal_date, default)
S3method(decimal_date, zoo)
S3method(decimal_date, its)
export(lakers)
